.menu {
  &--open {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: #333333;
    width: 260px;
    z-index: 10;
    padding: 50px 20px;
    border-left: 1px solid;
  }
  &__submenu {
    width: 90%;
    margin: 10px auto;
    background-color: #444444;
    border: 1px solid;
    padding: 5px;

    &__link {
      cursor: pointer;
      font: normal 20px 'Open Sans';

      &--right {
        float: right;
      }

      &--disabled {
        cursor: auto;
        color: gray;
      }
    }
  }

  &__link {
    cursor: pointer;
    padding-right: 10px;
    font: bold 30px 'Open Sans';

    &--listed {
      display: block;
    }
  }
}