.view-wrapper {
    position: fixed;
    top: 15%;
    left: 0;
    height: 50%;
    margin: 0;
    z-index: 1;
    width: 100%;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

.view-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 10000px;
    display: block;
    margin: auto auto;
}

.screen-title-wrapper {
    text-align: left;
    font-family: 'Lobster', cursive;
    color: #fbeed5;
    position: absolute;
    top: -65px;
    left: 0;
    z-index: 1;
    padding-left: 10px;
}


.places {
    position: fixed;
    bottom: 35%;
    left: 0;
    z-index: 2;
}

.places .place {
    min-width: 150px;
    text-align: center;
    margin-right: 10px;
}

.places .place p {
    background-color: black;
    color: #fbeed5;
    padding: 3px
}

.places .place p:hover {
    background-color: #fbeed5;
    color: black;
    cursor: pointer;
}