.view-wrapper {
    position: fixed;
    top: 100px;
    bottom: 150px;
    margin: 0 auto;
    width: 100%;
}

.view {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: no-repeat center top;
    background-size: auto 100%;
}

@media screen and (max-device-width: 768px) and (min-device-height: 500px) {
    .view-wrapper {
        top: 150px;
        bottom: 250px;
    }
}